<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735695241280-m2vs342i2i29rubrd4pgnn8r7rj5joaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735695241280-m2vs342i2i29rubrd4pgnn8r7rj5joaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCxGYR3HL_fGLV8BBm2xb1MUpOEPfGY7LI</string>
	<key>GCM_SENDER_ID</key>
	<string>735695241280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stay-Home.Stay-Home-ios</string>
	<key>PROJECT_ID</key>
	<string>stay-home-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stay-home-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735695241280:ios:c8accd36fa1495b0d89fa5</string>
	<key>DATABASE_URL</key>
	<string>https://stay-home-app.firebaseio.com</string>
</dict>
</plist>